@{
    ViewBag.Title = "AboutUs";
    ViewBag.naviAbout = "active";
}

<div class="container">
    <div class="hero-unit">
        <div class="row">
            <div class="span12">
                <h1>
                    Prime </h1>
                <h4>
                    我们是PRIME!团队.</h4>
                <p style="padding-left:50px">
                    我们有思想 <i class="icon-lightbulb icon-4x">.</i> 我们团结<i class="icon-group icon-4x">.</i>
                   我们专注 <i class="icon-cogs icon-4x">.</i>  我们努力 <i class="icon-pencil icon-4x">.</i></p>
                <h3 style="padding-left:550px">我们是</h3>
                <h3 style="padding-left:550px">PRIME</h3>
            </div>
      
        </div>
    </div>






</div>
<footer class="footer">
      <div class="container">
        <p>由<a target="_blank">Prime</a>团队设计并完成.</p>
        <p>我们遵循 <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>, 以及 <a href="http://creativecommons.org/licenses/by/3.0/deed.zh" target="_blank">CC BY 3.0</a>.</p>
        <p>本网站基于<a href="http://www.bootcss.com/">Bootstrap</a>设计，并全部遵循 <a href="http://creativecommons.org/licenses/by/3.0/deed.zh" target="_blank">CC BY 3.0</a>协议发布。</p>
        <ul class="footer-links">
          <li><a href="@Url.Content("~/Index/AboutUs")" target="_blank">关于我们</a></li>
          <li class="muted">&middot;</li>
          
        
          
          <li>©2013 <a href="@Url.Content("~/Index/index")" target="_blank">Prime</a>版权所有</li>
        </ul>
      </div>
</footer>
