@{
    ViewBag.Title = "ClinicDoctor";
    ViewBag.naviDoctor = "active";
}
<div class="container">
    <div class="well well-large">
        <div class="row">
            <div class="span5">
                <img class="img-circle" src="../img/doctor1.jpg/140x140" style="width: 140px; height: 140px">
                <h2>
                    林仙</h2>
                <p>
                    武汉大学口腔医院口腔颌面创伤与整形外科主任，武汉大学口腔医学院口腔颌面外科教研室主任，国务院政府特殊津贴获得者，湖北省重点学科带头人，兼任中华口腔医学会颌面外科专业委员会创伤学组组长，中华口腔医学会口腔颌面修复重建学组副组长，中华口腔医学会口腔颌面外科专业委员会委员，湖北省口腔医学会口腔颌面创伤与整形专业委员会主任委员，中国整形美容医师协会常务理事。担任多种学术刊物编委。</p>
            </div>
            <!-- /.span4 -->
            <div class="span5">
                <img class="img-circle" src="../img/doctor0.jpg/140x140" style="width: 140px; height: 140px">
                <h2>
                    肖思寒</h2>
                <p>
                    武汉大学口腔医院牙周科主任，教授、博导。中华口腔医学会牙周病学专业委员会副主任委员，湖北省有突出贡献的中青年专家。发表论著100余篇，其中SCI全文20余篇。获“一种诊断口腔疾病的试剂”等发明专利3项、省科技进步二等奖1项、中华口腔医学会首届口腔医学创新研究奖
                    1项。临床主要的研究方向是咬合与牙周病。</p>
            </div>
            <!-- /.span4 -->
        </div>
        <div class="row">
            <div class="span5">
                <img class="img-circle" src="../img/doctor2.jpg/140x140" style="width: 140px; height: 140px">
                <h2>
                    姜昊良</h2>
                <p>
                    知名专家。1962年毕业于四川大学（原四川医学院），获学士学位，同年分配到武汉大学口腔医学院从事口腔修复学临床、教学、科研工作至今，先后任主治医师、副主任医师（副教授）、主任医师（教授）、口腔修复科主任、口腔修复学教研室主任、硕士导师、博士导师。指导博士及硕士研究生近百名，发表SCI科研论文20余篇，发表中文论文60余篇</p>
            </div>
            <div class="span5">
                <img class="img-circle" src="../img/doctor3.jpg/140x140" style="width: 140px; height: 140px">
                <h2>
                    刘枢</h2>
                <p>
                    武汉大学口腔医学院种植科主任，中华口腔医学会种植专业委员会副主任委员。湖北省口腔种植专委会主任委员。《口腔医学研究》等杂志编委。 90年代初开始从事口腔种植的外科和修复临床和基础研究工作。熟练掌握ITI、Nobel
                    Biocare、Frilite Ankylos、3i、Bicon等多个种植系统的外科手术以及修复技术，具有丰富的临床经验。1998年赴加拿大从事口腔种植的力学研究工作和临床研修。在国内外的专业杂志上发表种植领域的文章近50篇，其中SCI论文16篇。</p>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
      <div class="container">
        <p>由<a target="_blank">Prime</a>团队设计并完成.</p>
        <p>我们遵循 <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>, 以及 <a href="http://creativecommons.org/licenses/by/3.0/deed.zh" target="_blank">CC BY 3.0</a>.</p>
        <p>本网站基于<a href="http://www.bootcss.com/">Bootstrap</a>设计，并全部遵循 <a href="http://creativecommons.org/licenses/by/3.0/deed.zh" target="_blank">CC BY 3.0</a>协议发布。</p>
        <ul class="footer-links">
          <li><a href="@Url.Content("~/Index/AboutUs")" target="_blank">关于我们</a></li>
          <li class="muted">&middot;</li>
          
        
          
          <li>©2013 <a href="@Url.Content("~/Index/index")" target="_blank">Prime</a>版权所有</li>
        </ul>
      </div>
</footer>
