@{
    ViewBag.Title = "ClinicFee";
    ViewBag.naviTreat = "active";
}
<div class="container">
    <div class="well well-large">
        <div class="row">
            <div class="span6">
                <img class="img-rounded" src="../img/info1.jpg" style="width: 500px"></div>
            <div class="span4" style="font-size: 25px; padding-top: 50px">
                <p>
                    更专业的设备，</p>
                <p>
                    更专业的技术，</p>
                <p>
                    才有更专业的服务.</p>
            </div>
        </div>
        <div class="row" style="padding-top:50px">
        <div class="span4" style="font-size: 25px; padding-top: 50px">
                <p>
                    你的微笑，</p>
                <p>
                    支持我们更加专业，</p>
            </div>
            <div class="span6">
                <img class="img-rounded pull-right" src="../img/info2.jpg" style="width: 500px" /></div>
            
        </div>
    </div>
</div>
<footer class="footer">
      <div class="container">
        <p>由<a target="_blank">Prime</a>团队设计并完成.</p>
        <p>我们遵循 <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>, 以及 <a href="http://creativecommons.org/licenses/by/3.0/deed.zh" target="_blank">CC BY 3.0</a>.</p>
        <p>本网站基于<a href="http://www.bootcss.com/">Bootstrap</a>设计，并全部遵循 <a href="http://creativecommons.org/licenses/by/3.0/deed.zh" target="_blank">CC BY 3.0</a>协议发布。</p>
        <ul class="footer-links">
          <li><a href="@Url.Content("~/Index/AboutUs")" target="_blank">关于我们</a></li>
          <li class="muted">&middot;</li>
          
        
          
          <li>©2013 <a href="@Url.Content("~/Index/index")" target="_blank">Prime</a>版权所有</li>
        </ul>
      </div>
</footer>
