@{
    ViewBag.Title = "test";
}

<form id="fbean" method="POST" action="@Url.Content("~/Login/test2")">  
   
    <input name="m[0].ss" value="ass1" />   
    <input name="m[1].ss" value="ass2" />   
    <input name="m[2].ss" value="ass3" />   
    <input name="m[0].i" value="1" />   
    <input name="m[1].i" value="2" />   
    <input name="m[2].i" value="2" />   
        <input type="submit" value="提交" />  
</form>  